<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QR Code Generator</title>
	<link rel="stylesheet" href="app.css">
</head>
<body class="font-sans">
	<div class="min-h-screen bg-gray-200 flex items-center justify-center p-4 relative">
		<div class="w-full max-w-6xl bg-white rounded-2xl shadow-lg flex overflow-hidde">
			<div class="w-1/2 bg-slate-800 p-8 text-white rounded-l-md animate-pulsex">
				<div class="mb-12">
					<h2 class="text-xl font-bold mb-2">
						Codigos QR
					</h2>
				</div>
				<div class="space-y-6">
					<div class="flex flex-col items-start gap-6">
						<div class="flex items-center gap-4">
							<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[30px] h-[30px] stroke-white">
								<path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="auto" stroke-width="2"/>
								<path d="M9 12L10.6828 13.6828V13.6828C10.858 13.858 11.142 13.858 11.3172 13.6828V13.6828L15 10" stroke="auto" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<div class="">
								<h3 class="font-semibold mb-1">Facilidad de Uso</h3>
								<p class="text-white">No requiere teclear enlaces manualmente.</p>
							</div>
						</div>
						<div class="flex items-center gap-4">
							<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[30px] h-[30px] stroke-white">
								<path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="auto" stroke-width="2"/>
								<path d="M9 12L10.6828 13.6828V13.6828C10.858 13.858 11.142 13.858 11.3172 13.6828V13.6828L15 10" stroke="auto" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<div class="">
								<h3 class="font-semibold mb-1">Rápida Accesibilidad</h3>
								<p class="text-white">Accede a información con solo un escaneo.</p>
							</div>
						</div>
						<div class="flex items-center gap-4">
							<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[30px] h-[30px] stroke-white">
								<path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="auto" stroke-width="2"/>
								<path d="M9 12L10.6828 13.6828V13.6828C10.858 13.858 11.142 13.858 11.3172 13.6828V13.6828L15 10" stroke="auto" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<div class="">
								<h3 class="font-semibold mb-1">Menor Espacio</h3>
								<p class="text-white">Puede almacenar más datos en menos espacio que los códigos de barras tradicionales.</p>
							</div>
						</div>
						<div class="flex items-center gap-4">
							<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[30px] h-[30px] stroke-white">
								<path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="auto" stroke-width="2"/>
								<path d="M9 12L10.6828 13.6828V13.6828C10.858 13.858 11.142 13.858 11.3172 13.6828V13.6828L15 10" stroke="auto" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<div class="">
								<h3 class="font-semibold mb-1">Interactividad</h3>
								<p class="text-white">Facilita acceso a contenido multimedia, formularios, apps, etc</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-auto pt-12">
					<a class="block w-full py-3 text-center text-slate-800 bg-white rounded-lg font-medium hover:text-slate-900 transition-all cursor-pointer" href="https://es.wikipedia.org/wiki/Código_QR">
						Aprender Mas
					</a>
				</div>
			</div>
			<div class="w-1/2 p-8 flex flex-col">
				
				<div class="flex-1 flex flex-col items-center justify-content max-w-md mx-auto pt-8">
					<h2 class="text-2xl font-black mb-2 text-slate-800 flex gap-1">
						<svg fill="#000000" width="800px" height="800px" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg" class="fill-slate-800 w-[28px] h-[28px]">
							<path d="M12,10H22V4a2,2,0,0,0-2-2H4A2,2,0,0,0,2,4V20a2,2,0,0,0,2,2h6V12A2,2,0,0,1,12,10Z"/>
							<path d="M28,10H22V20a2,2,0,0,1-2,2H10v6a2,2,0,0,0,2,2H28a2,2,0,0,0,2-2V12A2,2,0,0,0,28,10Z"/>
							<rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="fill-none" width="32" height="32"/>
						</svg>
						Generador de QR 
					</h2>
					<p class="text-slate-600 mb-6 text-center">
						Escanea el siguiente codigo para obtener el contenido
					</p>
					<div id="qrResult" class="relative mb-8 w-[200px] h-[200px] border-[3px] border-dashed rounded-md border-gray-300 flex justify-center items-center">
						<p class="text-gray-400 font-bold">QR AREA</p>
						<!-- <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=example" alt="QR Code" class="w-48 h-48"/> -->
					</div>
					<form id="qrForm" class="w-full">
						<p class="text-left text-sm text-gray-600 mb-2">
							Ingresa el contenido a generar (TEXTO o URL):
						</p>
						<textarea id="content" class="block border border-gray-300 p-2.5 w-full text-sm text-gray-900 focus:ring-slate-600 rounded-lg bg-gray-100 font-mono mb-6 focus:outline-gray-400" rows="4" required></textarea>
						
						<button id="send_button" type="submit" class="w-full bg-slate-800 text-white py-3 rounded-lg font-medium hover:bg-slate-700 transition-colors flex justify-center items-center disabled:bg-gray-400">
							Generar 
							<div id="send_button_icon" class="ml-1.5 w-[20px] h-[20px] border-[4px] border-gray-200 border-r-transparent rounded-full animate-spin hidden"></div>
						</button>
					</form>
				</div>


			</div>

		</div>
		<!-- <div class="absolute p-4 block bg-gray-400 rounded-lg bottom-4">
			<p>lfasdfs</p>
			<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M7 5V4H5v2H3v14h14V6h-2V4h-2v2H7V5zm-2 5V8h10v2H5zm0 2h10v6H5v-6zm16-3V8h-2v6h2V9zm0 6h-2v2h2v-2z" fill="currentColor"/> </svg>
		</div> -->
	</div>
	<script src="script.js?v=5461"></script>
</body>

</html>
